@import url('https://fonts.googleapis.com/css2?family=Jost&family=Outfit&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css');

/* Entire Page */

* {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

body {
	background: #1c201b;
}

/* Navigation Styling */

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #003384;
	display: table;
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
    font-weight: bold;
	text-align: left;
	padding: 10px 10px;
	text-decoration: none;
}

li a:hover {
	color: #929292;
}

/* Add block to navigate to sections properly */

.anchor{
    display:block;
    padding-top:63px;
    margin-top:-63px;
 }

/* Header Styling */

#container {
    padding-top: 55px;
}

#name {
    text-align: center;
    padding-top: 25px;
}

/* Logo Styling */

.logos {
    display: inline-block;
    width: 30%;
}

#logosection {
    text-align: center;
}

/* Section Headings Styling */

h2 {
    background-color: #2c6fd9;
    color: black;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}

/* Body Styling */

#main a {
    color: #a1541d;
    text-decoration: none;
}

#main a:hover {
    color: #929292;
}

#main a:visited {
    color: #508de2;
}

#main {
    padding: 0 20px 0 20px;
    min-width: 300px;
    max-width: 1040x;
    color: white;
}

/* Footer Styling */

footer {
	position: relative;
	width: 100%;
	bottom: -50px;
    background-color: #929292;
    color: black;
	text-decoration: none;
	padding: 30px;
	box-sizing: border-box;
    white-space: nowrap;
}

footer #copyright {
    text-align: left;
    display: inline-block;
    width: 33%;
}

footer #return {
    text-align: center;
    display: inline-block;
    width: 33%;
}

footer #tools {
    text-align: right;
    display: inline-block;
    width: 33%;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: black;
}